{% extends 'galeria/base.html' %}
{% load static %} <!-- Carregando os arquivos estáticos -->

 <!-- Começando o bloco -->
  {% block content %}
    
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/banner2.jpeg'%}" alt="banner Densetsu Space">
                    <h1 class="banner__titulo"> A galeria mais completa de animes!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Clássico</li>
                        <li class="tags__tag">Assistidos</li>
                        <li class="tags__tag">Recomendados</li>
                        <li class="tags__tag">Acompanhando</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                        <!-- Repetindo os cards pelo numero de dados que tenho no dicionário (Crio os cards automaticamente) -->
                         {% if cards%}
                         {% for fotografia in cards %} 

                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                    {% if fotografia.foto == "" or fotografia.foto == null %}
                                    <!-- Passando uma url para o html abrir a outra página -->
                                     <!-- antes: {{ fotografia.foto }} -->
                                        <img class="card__imagem" src="{% static 'assets/imagens/galeria/Image-not-found.png'%}" alt="foto">
                                    {% else %}
                                        <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                    {% endif %}
                                </a>
                                {% if fotografia.categoria == "ACOMPANHANDO" %}
                                <span class="card__tag_acompanhando">{{fotografia.categoria}}</span>
                                 {% elif fotografia.categoria == "RECOMENDADOS" %}
                                <span class="card__tag_recomendados">{{fotografia.categoria}}</span>
                                {% else %}
                                <span class="card__tag">{{fotografia.categoria}}</span>
                                {% endif %}
                                <div class="card__info">
                                    <!-- Pegando os infos no dicionário (tipo SD) -->
                                    <p class="card__titulo">{{fotografia.nome}}</p> 
                                    <div class="card__texto">
                                        <p class="card__descricao">{{fotografia.legenda}}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png'%}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <!-- Encerrando o for -->
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}