{% load static %}

<div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{%static '/assets/logo/desetsu.png'%}" class="logo" alt="Logo da Densetsu Space" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <!-- Definindo o que irá acontecer após a pesquisa -->
                    <form action="{% url 'buscar' %}" class="form"> 
                        <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                        <button type="submit" class="botao__busca">
                            <img class="busca__icone" src="{%static '/assets/ícones/2x/buscar.png'%}" alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{%static '/assets/ícones/2x/Home - verde.png'%}"> Home</a>
                    <a href="#"><img src="{%static '/assets/ícones/1x/Mais vistas - inativo.png'%}"> Mais vistas</a>
                    <a href="#"><img src="{%static '/assets/ícones/1x/Novas - inativo.png'%}"> Novas</a>
                    <a href="#"><img src="{%static '/assets/ícones/1x/Surpreenda-me - inativo.png'%}"> Surpreenda-me</a>
                </nav>
            </section>